<?xml version="1.0"?>
<launch>

 
 <!--node pkg="tf" type="static_transform_publisher" name="tf_map_robot_map" args="0 0 0 0 0 0 robot_map map 100"/--> 
 
 <!-- NODO PARA lanzamiento del GPS-->
 <!--include file="$(find ublox_gps)/launch/ublox_device.launch" /-->
 
 <!-- NODO PARA lanzamiento del modem NTRIP-->
 <!--include file="$(find ntrip_client)/launch/ntrip_client.launch" /-->
 
 <!-- NODO PARA almacenamiento de posiciones GPS-->
 <group ns="robot">
 	<node name="gps_save" pkg="gps_nav" type="gps_nav.py" output="screen"/>
 </group>

</launch>
